.btn{
    
    text-decoration: none;
    display: inline-block;
    padding: 20px 50px;
    background-color:aquamarine;
   outline: 2px solid blue;
    border-radius: 5%;
}
.btn:hover,
.btn:focus{
    background-color:rgb(233, 121, 10);
    border: blueviolet;
}

.btn-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: green;
    vertical-align:bottom;
}